<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DvdScreenSaver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DvdScreenSaver.Properties.Settings>
            <setting name="MouseMoveDistance" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LogoSpeed" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ShowLogoOnAllScreens" serializeAs="String">
                <value>False</value>
            </setting>
        </DvdScreenSaver.Properties.Settings>
    </userSettings>
</configuration>